body {
    margin: 0;
    text-align: center;
    background-color: #FF92C2;
    font-family:Ubuntu, libre Baskerville;
    padding: 0;
}
header{
    background-color: #FF6B6B;;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 150px;
}
nav {
    display:flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #2E282A ;
    text-decoration: none;
    padding: 35px;

}

nav a:hover{
    background-color: #F1F7ED ;
    color: #2E282A ;
}
.single-grid{
  display:grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.sword{
  width: 100%;
  height: auto;
  grid-column: 2/2;
  grid-row: 2/2;
}
.fire{
  width: 100%;
  height: auto;
  grid-column: 3/3;
  grid-row: 2/2;
}
.beam{
  width: 100%;
  height: auto;
  grid-column: 4/4 ;
  grid-row: 2/2;
}
.leaf{
  width: 100%;
  height: auto;
  grid-column: 5/5;
  grid-row: 2/2;
}
.bomb{
  width: 100%;
  height: auto;
  grid-column: 6/6 ;
  grid-row: 2/2;
}
.fighter{
  width: 100%;
  height: auto;
  grid-column: 7/7 ;
  grid-row: 2/2;
}
.ice{
  width: 100%;
  height: auto;
  grid-column: 8/8;
  grid-row: 2/2;
}
.artist{
  width: 100%;
  height: auto;
  grid-column: 9/9 ;
  grid-row: 2/2;
}
.jet{
  width: 100%;
  height: auto;
  grid-column: 2/2;
  grid-row: 4/4;
}
.esp{
  width: 100%;
  height: auto;
  grid-column: 3/3;
  grid-row: 4/4;
}
.hijump{
  width: 100%;
  height: auto;
  grid-column: 4/4 ;
  grid-row: 4/4;
}
.hammer{
  width: 100%;
  height: auto;
  grid-column: 5/5;
  grid-row: 4/4;
}
.spider{
  width: 100%;
  height: auto;
  grid-column: 6/6;
  grid-row: 4/4;
}
.suplex{
  width: 100%;
  height: auto;
  grid-column: 7/7;
  grid-row: 4/4;
}
.yoyo{
  width: 100%;
  height: auto;
  grid-column: 8/8;
  grid-row: 4/4;
}
.cutter{
  width: 100%;
  height: auto;
  grid-column: 9/9;
  grid-row: 4/4;
}
.cleaning{
  width: 100%;
  height: auto;
  grid-column: 2/2;
  grid-row: 6/6;
}
.water{
  width: 100%;
  height: auto;
  grid-column: 3/3;
  grid-row: 6/6;
}
.stone{
  width: 100%;
  height: auto;
    grid-column: 4/4;
  grid-row: 6/6;
}
.wing{
  width: 100%;
  height: auto;
    grid-column: 5/5;
  grid-row: 6/6;
}
.spark{
  width: 100%;
  height: auto;
    grid-column: 6/6;
  grid-row: 6/6;
}
.parasol{
  width: 100%;
  height: auto;
    grid-column: 7/7;
  grid-row: 6/6;
}
.ninja{
  width: 100%;
  height: auto;
  grid-column: 8/8;
  grid-row: 6/6;
}
.beetle{
  width: 100%;
  height: auto;
    grid-column: 9/9;
  grid-row: 6/6;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}